{% extends 'base.html' %}

{% block content %}
<div class = "text">
<h1 class = "title">Luke Daws Web Resume</h1>

<p>Welcome to my web resume!</p>

<p>My name is Luke Daws and I am focused on becoming a data scientist. I have recently completed a Master of Data Science at RMIT University and I am looking to start using the skills I have been taught. I am fascinated by data analysis and enjoy finding patterns and meanings in all types of data. Since studying Applied Chemistry, with a focus on analytical chemistry, I have always wanted to delve deeper into the data produced, to discover meaningful insights. With my Master of Data Science, I am looking to take that passion for data exploration and use new techniques to find hidden insights and interesting patterns.  I am capable of also developing methods to retrieve data that can be limited by various programs and am keen to sharpen those skills by applying them to a diverse range of projects.</p>
    
<p>I have built this website to hone and develop my skills as well as display projects and work I have done in the area.</p> 
<p>Thanks for taking the time to look through my web resume and look forward to hearing from you!</p>
</div>
{% endblock %}