{% extends 'base.html' %}

{% block content %}
<div class = "text">
<h1 class = "title">Luke Daws Web Resume</h1>

<p>Welcome to my web resume!</p>

<p> As a highly skilled data scientist with hands-on experience as an assistant manager in data analytics, 
    I am eager to take on new challenges and collaborate with stakeholders and clients to uncover valuable 
    insights and solutions to complex business problems. With my extensive technical expertise in programming 
    languages, advanced analytics tools, and cloud computing, coupled with my proven track record of managing 
    small teams, I am confident in my ability to deliver actionable recommendations that meet and exceed project requirements.</p>
    
<p>This website aims to display projects I have worked on in my spare time and feature an in depth resume to be purused.</p> 

<p>Thank you for visiting my web resume, and I look forward to the opportunity to discuss how I can contribute to your team.</p>
</div>

<div class = "text">
    <h1 class = "title">Experience</h1>
    <h3>ASSISTANT MANAGER | MCGRATHNICOL| APRIL 2021 – PRESENT</h3>
    <h3>TEAM MEMBER – MAINTENANCE | MLC WEALTH | APRIL 2019 – APRIL 2021</h3>
    <h3>PHARMACY TECHNICIAN | BAXTER HEALTHCARE | JANUARY 2016 – APRIL 2019</h3>
</div>
<div class = "text">
    <h1 class = "title">Education</h1>
    <h3>MASTER OF DATA SCIENCE | 2020 | RMIT UNIVERSITY</h3>
    <h3>BACHELOR OF SCIENCE (HONOURS) | 2014 | RMIT UNIVERSITY</h3>
    <h3>BACHELOR OF FILM AND TELEVISION | 2008 | SWINBURNE UNIVERSITY</h3>
</div>
{% endblock %}
